*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
h1 {
    text-align: center;
    letter-spacing: .1em;
    margin-top: 50px;
}
body{
    height: 100vh;
    background: rgb(162, 207, 235)
}
.middle{
    margin: auto;
}
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    
}
.memory-card {
    display: inline-block;
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front,
.back {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 5px;
    background:rgb(38, 159, 87);
    
}
.back {
    transform: rotateY(180deg);
    position: absolute;
}
img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.middle {
    display: inline-block;
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    position: relative;
    margin: 5px;
}

.middle-front {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-wrap: break-word;
    font-family: 'Press Start 2P';
}

